body {
    background-color: darkslategray;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-size: 48px;
    text-align: center;

}

a {
    color: blanchedalmond;
    font-size: 24px;
}
img.tunatataki {
    height: auto;
    width: 600px;
    position: relative;
    left: 650px;
    border: 3px solid #424242;
}

img.cornribs {
    height: 500px;
    width: auto;
    rotate: 90deg;
    position: relative;
    left: 750px;
    border: 3px solid #424242;
}

img.tartare {
    height: auto;
    width: 600px;
    position: relative;
    left: 650px;
    border: 3px solid #424242;
}

.header {
    margin: 80px 600px 80px 600px;
    border: 4px dotted rgb(182, 136, 18);
}

.recipe-header {
    color: black;
}

.prep {
    font-size: 20px;
}